/* Page-wide styling */

body {
  font-family: "Montserrat";
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/* Headings */

h1,
h2,
h3 {
  font-weight: bold;
}

.hero-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

#title .hero-heading {
  font-size: 3.5rem;
  line-height: 1.5;

  margin-top: 7%;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

#title .container-fluid {
  padding: 1% 15% 7% 15%;
}

/* Navbar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Background colouring */

.coloured-background {
  background-color: #03388a;
  color: white;
}

.white-background {
  background-color: #fafaff;
  color: black;
}

#gallery {
  background-color: #070444;
}

/* Hero section */

#title {
  text-align: left;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.logo {
  position: absolute;
  right: 3%;
  top: 0%;

  width: 75%;

  margin: 0;
}

/* Features  */

#features {
  position: relative;
}

.feature-icon {
  color: #070444;
  padding: 5% 0 2%;
}

.feature-icon:hover {
  color: #0d49a4;
}

.feature-text {
  font-size: 1.5rem;
}

.feature-description {
  padding: 0 8%;
}

/* Grid */

.feature-grid {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
}

/* Testimonials & press */

.testimonial-image {
  height: 400px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.press-icon {
  width: 15%;
  margin: 10px 20px 100px;
}

/* Pricing */

#services {
  padding: 75px 100px 45px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-plan-header {
  font-size: 1.5rem;
  margin-bottom: 0%;
}

.card-padding {
  padding: 3% 2% 0;
}

/* Call to action */

#cta .download-btn {
  margin: 3% 2% 2% 0;
}

/* Footer */

#footer i {
  margin: 0% 1%;
}

#footer p {
  margin: 1% 0% 0%;
}

/* Media Queries */

@media (max-width: 1150px) {
  #title {
    text-align: center;
  }

  .logo {
    padding-top: 5%;
    position: static;
    width: 50%;
  }

  .testimonial-image {
    height: 300px;
  }
}

@media (min-width: 1150px) {
  .feature-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 3% 4%;
  }

  .feature-1 {
    grid-area: 1/ 2/ 2/ 4;
  }

  .feature-2 {
    grid-area: 1/ 4/ 2/ 6;
  }

  .feature-3 {
    grid-area: 2/ 1/ 3/ 3;
  }

  .feature-4 {
    grid-area: 2/ 3/ 3/ 5;
  }

  .feature-5 {
    grid-area: 2/ 5/ 3/ 7;
  }

  .feature-6 {
    grid-area: 3/ 2/ 4/ 4;
  }

  .feature-7 {
    grid-area: 3/ 4/ 4/ 6;
  }

  .feature-icon {
    padding-bottom: 5%;
  }
}
